@media screen and (max-width: 768px) {
    .ul-choice {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 10px 5%;
    }

    .li-choice {
        width: calc(100% / 5);
    }

    .row1 {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card1 {
        width: calc(95% / 4);
        padding: 5px;
    }

    .bar {
        width: 200px;
    }

    .foot-1-2 {
        flex-direction: column;
    }

    .footericons2 {
        width: 40px
    }
}

@media screen and (min-width: 768px) and (max-width: 927px) {
    .ul-choice {
        padding: 10px 20px;
    }

}

@media screen and (max-width: 425px) {
    .upgrade {
        font-size: 12px;
    }

    .ul-choice {
        padding: 10px 0px;
        justify-content: space-around;
    }

    .grey {
        font-size: 6px;
    }

    .row1 {
        padding: 10px 5px 10px 15px;
    }

    .card1 {
        width: calc(95% / 2);
        padding: 5px;
    }

    .profilename {
        font-size: 12px;
    }

    .music {
        width: 30px;
    }

    .font-1-1 {
        gap: 10px;
    }

    .description {
        font-size: 10px;
    }

    .heart-folder {
        width: 10px;
    }

    .foot-1-2 {
        gap: 5px;
    }

    .foot-2-3 {
        gap: 10px;
    }

    .footericons {
        width: 10px;
    }

    .footericons1 {
        width: 20px;
    }

    .foot-2-4 {
        gap: 10px;
    }

    .time {
        font-size: 10px;
    }

    .time1 {
        padding-left: 10px;
    }

    .time2 {
        padding-right: 10px;
    }

    .bar {
        width: 100px;
    }

    .last-list {
        gap: 10px;
    }

    .last-icons {
        width: 10px;
    }

    .volume-bar {
        width: 30px;
    }

    .footericons2 {
        width: 30px
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .stranger-things {
        font-size: 10px;
        line-height: 10px;
    }

    .grey {
        font-size: 8px;
    }

    .music {
        width: 30px;
    }

    .font-1-1 {
        gap: 10px;
    }

    .description {
        font-size: 10px;
    }

    .heart-folder {
        width: 10px;
    }

    .foot-1-2 {
        gap: 5px;
    }

    .foot-2-3 {
        gap: 10px;
    }

    .footericons {
        width: 10px;
    }

    .footericons1 {
        width: 20px;
    }

    .foot-2-4 {
        gap: 10px;
    }

    .time {
        font-size: 10px;
    }

    .time1 {
        padding-left: 10px;
    }

    .time2 {
        padding-right: 10px;
    }

    .bar {
        width: 100px;
    }

    .last-list {
        gap: 10px;
    }

    .last-icons {
        width: 10px;
    }

    .volume-bar {
        width: 30px;
    }


}

@media screen and (max-width: 425px) {
    .upgrade {
        font-size: 10px;
    }

    .recent {
        font-size: 14px;
    }

    .profilename {
        font-size: 8px;
    }

    .card1 {
        padding: 10px 5px 10px 1px;
    }

    .stranger-things {
        font-size: 10px;
        line-height: 10px;
    }

    .footericons2 {
        width: 20px
    }
}

@media screen and (max-width: 375px) {
    header {
    width: 50px;
    }

    main {
    width: calc(100% - 50px);
    }

    .header-logo {
    display: none;
    }

    .second-logo {
    display: block;
    }

    .header-last {
    padding-top: 295px;
    }

    .none-column {
    display: none;
    }

    .header-last {
        padding-top: 400px;
    }

    .recent {
        font-size: 20px;
    }

    .ul-choice {
        justify-content: center;
    }

    .playlistname {
        font-size: 7px;
    }

    .footericons2 {
        width: 10px
    }

    .home {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .cerchiaml {
        padding-bottom: 20px;
    }
    
    .library {
        padding-bottom: 20px;
    }
}
